.Gallery{
    background-image: url(../Images/penne-pasta-tomato-sauce-with-chicken-tomatoes-wooden-table\ 1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 340px;
}
.Gallery h1{
    color: white;
    padding: 80px 150px;
    font-size: 48px;
    font-weight: 700;
}
#nav{
    background-color: #0000008c;
}
nav img{
    padding-left: 50px;
}
nav .navbar-nav{
    padding-right: 50px;
}
#navtogle {
    border-color: white; 
}
#navtogle-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
ul li{
    padding-left: 19px;
}
#btn{
    background-color: #CC9933;
    color: white;
}
#Gallery-sub h3{
    font-size: 31px;
    font-weight: 500;
}
#Gallery-sub .images{
    max-width: 1031px;
}
#Gallery-sub img{
    width: 325px;
    height: 408px;
}


#footer{
    background-color: #16191E;
    padding: 0px 50px;
}
#footer img{
    padding-bottom: 20px;
}
#footer .row{
    column-gap: 40px;
}
#footer .row .col h4{
    color: white;
    font-size: 19px;
    font-weight: bold;
}
#footer .row .col p{
    color: white;
    font-size: 12px;
    font-weight: 400;
}
#footer .row .col ul{
    list-style: none;
    color: white;
    font-size: 12px;
}
#footer .row .col h5{
    color: white;
    font-size: 14px;
    font-weight: 500;
}
#footer .row .col pre{
    color: #CC9933;
    font-size: 11px;
}
#footer .row .col img{
    padding-right: 10px;
}
#footer-end{
    background-color: #CC9933;
    padding: 15px 50px;
}
#footer-end h5{
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
}
.lightbox {
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}
.lightbox-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}
.close, .prev, .next {
    position: absolute;
    top: 50%;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}
.close {
    top: 15px;
    right: 35px;
    background-color: white;
}
.prev {
    left: 15px;
}
.next {
    right: 15px;
}
.close:hover,
.close:focus,
.prev:hover,
.prev:focus,
.next:hover,
.next:focus {
    color: #bbb;
    text-decoration: none;
}
@media screen and (max-width:447px) {
    .Gallery h1{
        padding: 80px 80px;
        font-size: 48px;
    }
    .lightbox-content {
        padding-top: 150px;
        max-width: 280px;
    }
}

